@media (max-width: 760px)

header .nav-text {
    display: block;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}
* {
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    cursor: inherit;
}
header .nav-link {
    cursor: pointer;
    opacity: .8;
    padding: 0 16px;
    transition: opacity .2s,background .2s;
}
header #logo, header .nav-link {
    display: block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
}
@media (max-width: 600px)
header .nav-large {
    display: none!important;
}
user agent stylesheet
div {
    display: block;
}
@media (max-width: 600px)
header .nav-item>.nav-link {
    padding: 4px 12px;
}
@media (max-width: 760px)
header .nav-item>.nav-link {
    height: 36px;
    padding: 4px 8px;
}
@media (max-width: 840px)
header .nav-link {
    padding: 0 12px;
}
a, a:hover {
    text-decoration: none;
}
a {
    cursor: pointer;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
a, button {
    touch-action: manipulation;
}
header {
    background: #000000;
    box-shadow: 0 0 12px rgb(0 0 0 / 25%);
    color: #fff;
    display: flex;
    height: 44px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 450;
}
html {
    background-color: #fff;
    cursor: default;
    font-family: Source Sans Pro,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.6;
    min-width: 320px;
    touch-action: manipulation;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
}
body {
    position:relative;
    margin:0;
    padding:0;
    backgroud-repeat:no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;

}

a, p, h1, h2, h3, h4, h5, h6, th, td, li {
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
}

#msg {
  padding-left : 5px;
  color : red;
}
.emptyTileSolution {
  background-color:grey;
}
#general {
  display:flex;
}
#menu {
  display: flex;
  flex-direction:column;
  align-items: center;
}

#menu p, #menu button {
  margin: 5px;
}

#game {
  margin: 5px;
  /*background-image:url('https://augustin-thierry.fr/wp-content/uploads/2018/06/ImageMEI2.jpg');*/
  box-shadow: 5px 5px 5px #888;
  background-color : #FFF;
}
#menu button {
  width:15ex;
}
.remark {
  font-size : 80%;
}